.navbar-nav {
  width: 100%;
}

.navbar-nav .nav-link {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(116, 13, 13);
  transition: all 0.3s ease;
  border-radius: 25px;
}

.navbar-nav .nav-link:hover {
  background-color: rgb(116, 13, 13) !important;
  color: #fff !important;
  padding: 12px 24px;
  font-size: 1.2rem;
  transition: background 0.3s ease, color 0.3s ease, padding 0.3s ease, font-size 0.3s ease;
}

.header-section {
  position: relative;
  background-size: cover;
  height: 240px;
  margin-top: 2%;
}
.header-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  background-image: url(../INTEGRADORAOFICIAL_E4/img/recepcionista-5975962_1280.jpg); 

}




.header-content h1 {
  font-size: 3rem;
  font-weight: bold;
}
.header-content p {
  font-size: 1.5rem;
}

.header-section-custom {
  background-color: white;
  color: white;
  padding: 20px;
  text-align: center;
}

.header-content-custom {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.header-content-custom p {
  margin: 0;
  padding: 10px 0;
  color: black;
}

.header-content-custom h1 {
  margin: 0;
  padding: 10px 0;
  color: rgb(116, 13, 13)
}

.header-content-custom .col {
  margin-bottom: 20px;
}


.barra-blanca {
  width: 100%;
  background-color: white;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.card{
  width: 45rem;
  height: 29rem;
  margin-top: 6%;
  margin-left: 10%;

}

.carousel-inner{
  width: 20rem;
  
  border-radius: 20px;
  
}

.custom1{
  margin-left:50%;
  margin-top: -21%;
}

.custom2{
  margin-left:50%;
  margin-top: 0%;
}

.custom3{
  margin-left:50%;
  margin-top: 0%;
}


.card-link{
  color: black;
}

.aa {
  border-radius: 40px;
  border-color: black;
  border-style: solid;
  margin-left: 55%;
  margin-top: 20%;
  margin-bottom: 68%;
  width: 5rem;
  height: 8%;
  padding-top: 1%;
}

.dropdown{
  border-radius: 40px;
  border-color: black;
  border-style: solid;
  margin-left:39%;
  margin-top: -73.5%;
  margin-bottom: 10%;
  width: 5rem;


}

.btn {
  margin-left: 40%;

}

.btn {
  border-radius: 40px;
  margin-bottom: 10%;
  margin-top: -20%;
  margin-left: 70%;
}


.icono-si {
            font-size: 40px;
            margin-right: 20px;
            
        }

        .diplay{
            display:flex;
        }

        .no-compañero{
            display:flex;
            width: 100%;
            height: 200%;
        }

        .ai{
            width: 60%;
            
        }

        .pagina{
            font-size: 100%;
        }

        .pagina:hover {
            font-size: 140%;
            color: black;
        }