/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
}

.sidebar {
    opacity: 10;
    position: relative;
    left: -100px;
    color: rgb(116, 13, 13);
    height: 300vh;
    padding: 20px 0;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-header h2 {
    margin: 0;
}

.sidebar-menu {
    list-style: none;
    padding-left: 0;
}

.sidebar-menu li {
    margin-bottom: 20px;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background 0.3s;
}

.sidebar-menu a:hover {
    background-color: rgb(150, 20, 20);
}

.sidebar-menu li {
    margin-right: 15px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(150, 20, 20);
    opacity: 10;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header .user-name {
    margin-right: 10px;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f9f9f9;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.status.checked-in {
    background-color: #2ecc71;
    color: white;
}

.status.pending {
    background-color: #f1c40f;
    color: white;
}

table i {
    cursor: pointer;
    color: #999;
}

table i:hover {
    color: #333;
}

@media (max-width: 768px) {
    .statistics {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        padding: 10px;
    }
}

input {
    width: 150px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.width
{
    width: 150px;
}

input[type="number"]
{
    width: 100px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

option
{
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select
{
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.color-hotel
{
    color: rgb(116, 13, 13);   
}