/* Aplicar los colores de la barra de navegaci칩n al dise침o general */
.contact-info {
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.contact-info:hover {
  transform: translateY(-10px);
}
.contact-info h5 {
  margin-bottom: 20px;
  color: rgb(116, 13, 13); /* Color del texto */
}
.contact-info .info-item {
  margin-bottom: 15px;
}
.contact-info a {
  color: rgb(116, 13, 13); /* Color del enlace */
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
.contact-info .social-icons a {
  font-size: 1.2em;
  color: rgb(116, 13, 13); /* Color del icono social */
  margin-right: 10px;
  transition: color 0.3s;
}
.contact-info .social-icons a:hover {
  color: #ffa500; /* Color de hover */
}
#contact-form {
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#contact-form .form-control {
  border-radius: 0.25rem;
}
#contact-form .btn {
  background-color: rgb(116, 13, 13); /* Color del bot칩n */
  border: none;
  transition: background-color 0.3s ease;
}
#contact-form .btn:hover {
  background-color: #ffa500; /* Color de hover del bot칩n */
}
.barra_abajo {
  padding: 20px 0;
  background-color: rgb(116, 13, 13); /* Color de fondo */
  color: #fff; /* Color del texto */
}



    
.footer {
  background-color: rgb(116, 13, 13);
  color: white;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  color: white;
  }
  
  .footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  color: white;
  }
  
  .footer-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
  }
  
  .footer-section p {
  margin: 5px 0;
  color: white;
  }
  
  .social-icons i {
  font-size: 1.2rem;
  margin-right: 10px;
  color: white;
  }
  
  @media (min-width: 768px) {
  .footer-section h2 {
      font-size: 1.5rem;
  }
  
  .footer-section p {
      font-size: 1rem;
  }
  
  .social-icons i {
      font-size: 1.5rem;
  }
  }