/* Estilos de la barra de navegación */
.navbar-nav {
  width: 100%;
}

.navbar-nav .nav-link {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(116, 13, 13); /* Color de texto normal */
  transition: all 0.3s ease;
  border-radius: 25px;
}

.navbar-nav .nav-link:hover {
  background-color: rgb(116, 13, 13) !important; /* Usar !important para forzar la prioridad */
  color: #fff !important; /* Color de texto al hacer hover */
  padding: 12px 24px;
  font-size: 1.2rem;
  transition: background 0.3s ease, color 0.3s ease, padding 0.3s ease, font-size 0.3s ease;
}

/* Aplicar los colores de la barra de navegación al diseño general */
.contact-info {
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.contact-info:hover {
  transform: translateY(-10px);
}
.contact-info h5 {
  margin-bottom: 20px;
  color: rgb(116, 13, 13); /* Color del texto */
}
.contact-info .info-item {
  margin-bottom: 15px;
}
.contact-info a {
  color: rgb(116, 13, 13); /* Color del enlace */
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
.contact-info .social-icons a {
  font-size: 1.2em;
  color: rgb(116, 13, 13); /* Color del icono social */
  margin-right: 10px;
  transition: color 0.3s;
}
.contact-info .social-icons a:hover {
  color: #ffa500; /* Color de hover */
}
#contact-form {
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#contact-form .form-control {
  border-radius: 0.25rem;
}
#contact-form .btn {
  background-color: rgb(116, 13, 13); /* Color del botón */
  border: none;
  transition: background-color 0.3s ease;
}
#contact-form .btn:hover {
  background-color: #ffa500; /* Color de hover del botón */
}
.barra_abajo {
  padding: 20px 0;
  background-color: rgb(116, 13, 13); /* Color de fondo */
  color: #fff; /* Color del texto */
}