h2 {
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-stretch: expanded; /* Ajusta la anchura del tipo de letra */
    box-sizing: border-box;
}

h3 {
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.HCON {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    width: 100%;
    padding: 20px;
    height: auto;
}

.HCG {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 1200px;
    height: auto;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1270px;
}

.imgBox {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    flex-shrink: 1;
    overflow: hidden;
}

.imgBox:nth-child(1) {
    background-image: url(../Imagenes/HABITACION_S.png);
}

.imgBox:nth-child(2) {
    background-image: url(../Imagenes/HABITACION_D.png);
}

.imgBox:nth-child(3) {
    background-image: url(../Imagenes/HABITACION_K.png);
}

.imgBox a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Asegura que los colores del texto se hereden */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-left: 30px; /* Ajusta el padding según sea necesario */
}

.imgBox h2, .imgBox h3 {
    color: white;
    opacity: 0;
    transition: all 1s ease;
}

.imgBox h2 {
    margin-bottom: 10px; /* Espacio entre h2 y h3 */
}

.imgBox h3 {
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

.imgBox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1deg, black 0%, transparent 70%);
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 15px;
    z-index: 1; /* Asegura que el fondo negro esté detrás del texto */
}

.imgBox:hover {
    width: 1250px;
    cursor: pointer;
}

.imgBox:hover::after {
    opacity: 1;
}

.imgBox:hover h2, .imgBox:hover h3 {
    opacity: 1;
}

@media (max-width: 1125px) {
    .gallery {
        display: block;
    }
    .imgBox {
        width: 100%;
        margin-bottom: 20px;
        transition: none;
    }
    .imgBox:hover {
        width: 100%;
    }
    .imgBox h2, .imgBox h3 {
        opacity: 1;
        position: relative;
        bottom: auto;
        left: auto;
        text-align: center;
        padding: 10px;
        transition: none;
    }

    .imgBox:hover h2, .imgBox:hover h3 {
        opacity: 1;
    }
}

