.HCON {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    width: 100%;
    padding: 20px; 
    height: auto; /* Cambiar a auto para adaptarse al contenido */
}

.HCG {
    background-color: white; /* Color de fondo */
    padding: 40px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    margin: 20px auto; /* Espaciado externo */
    max-width: 1200px; /* Ancho máximo del contenedor */
    height: auto; /* Cambiar a auto para adaptarse al contenido */
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1270px; /* Fijar un ancho máximo para la galería */
}

.imgBox {
    position: relative;
    width: 350px; /* Ancho inicial */
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    flex-shrink: 1;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgBox:nth-child(1) {
    background-image: url(../Imagenes/HABITACION_S.png);
}

.imgBox:nth-child(2) {
    background-image: url(../Imagenes/HABITACION_D.png);
}

.imgBox:nth-child(3) {
    background-image: url(../Imagenes/HABITACION_K.png);
}

.imgBox h3 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: all 1s ease;
}

.imgBox:hover {
    width: 1250px; /* Ancho al pasar el cursor por encima */
    cursor: pointer;
    
}

.imgBox:hover h3 {
    opacity: 1;
    bottom: 25px;
    content: '';
    position: absolute;
    top: -100;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, black 0%, black 5%, transparent);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.gallery:hover::before .imgBox:not(:hover)::before {
    width: 50px; /* Ancho de las imágenes que no están siendo activadas */
    
}

@media (max-width: 1125px) {
    .gallery {
        display: block;
    }
    .imgBox {
        width: 100%;
        margin-bottom: 20px;
        transition: none;
    }
    .imgBox:hover {
        width: 100%;
    }
    .imgBox h3 {
        opacity: 1;
        position: relative;
        bottom: auto;
        left: auto;
        text-align: center;
        padding: 10px;
        transition: none; /* Desactivar transición para el texto */
    }

    .imgBox:hover h3 {
        opacity: 1; /* Asegurarse de que la opacidad sea 1 en hover */
    }
}

