.HCON {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    width: 100%;
    padding: 20px; 
    height: auto;
}

.HCG {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 1200px;
    height: auto;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1270px;
}

.imgBox {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgBox:nth-child(1) {
    background-image: url(../Imagenes/HABITACION_S.png);
}

.imgBox:nth-child(2) {
    background-image: url(../Imagenes/HABITACION_D.png);
}

.imgBox:nth-child(3) {
    background-image: url(../Imagenes/HABITACION_K.png);
}

.imgBox h3 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: all 1s ease;
    z-index: 2; /* Asegura que el texto esté por encima del fondo negro */
}

.imgBox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1deg, black 0%, transparent 70%);
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 15px;
    z-index: 1; /* Asegura que el fondo negro esté detrás del texto */
}

.imgBox:hover {
    width: 1250px;
    cursor: pointer;
}

.imgBox:hover::after {
    opacity: 1;
}

.imgBox:hover h3 {
    opacity: 1;
    bottom: 25px;
}

@media (max-width: 1125px) {
    .gallery {
        display: block;
    }
    .imgBox {
        width: 100%;
        margin-bottom: 20px;
        transition: none;
    }
    .imgBox:hover {
        width: 100%;
    }
    .imgBox h3 {
        opacity: 1;
        position: relative;
        bottom: auto;
        left: auto;
        text-align: center;
        padding: 10px;
        transition: none;
    }

    .imgBox:hover h3 {
        opacity: 1;
    }
}
